*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
min-height: 100vh;
/* background: rgb(26, 18, 34); */
background: #fff;
}

.navigation
{
    /* position: absolute;  */
    position:fixed;
    inset: 20px;
    background: blueviolet;
    width: 80px;
    border-left: 10px solid blueviolet;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.05);
}
.navigation.active{
    width: 300px;
    border-radius: 20px;
}
.toggle
{
    position: absolute;
    bottom: 15px;
    right:15px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before
{
content: '';
position: absolute;
width: 26px;
height: 3px;
border-radius: 3px;
background: blue;
transform: translateY(-5px);
transition: 2s;
}

.toggle::after
{
content: '';
position: absolute;
width: 26px;
height: 3px;
border-radius: 3px;
background: blue;
transform: translateY(5px);
transition: 1s;
}

.navigation.active .toggle::before
{
    transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after
{
    transform: translateY(0px) rotate(225deg);
}

.navigation ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover{
    background: #fff;
}

.navigation ul li:nth-child(1)
{
    top:20px;
    margin-bottom: 40px;
    background: none;
}

/* .navigation ul li:not(:first-child):hover::before
{
    content: '';
    position: absolute;
    top: -10px;
    right:0;
    width: 10px;
    height: 10px;
    background: transparent;
    border-bottom-right-radius: 10px;
    box-shadow: 2.5px 2.5px 0 0 #fff;


} */

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li:hover:not(:first-child) a
{
    color: #222;
}

.navigation ul li a .icon
{
    position:relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;

}

.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* .cardBox
{
  position: relative;
  left:100px;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 300px;
  z-index: -20;
}
.cardBox .card
{
  position: absolute;
  left:100px;
  background: var(--white);
  padding: 30px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  z-index: -20; 
} */


.cardBox
{
    position:relative;
    /* left:170px; */
    width: 100%;
    text-align: center;
    top: 30px;
}

.card
{
    position:relative;
    /* left:360px; */
    display: inline-block;
    row-gap: 10px;
    width:300px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    background-color: blueviolet;
    height: 180px;

}
